@media (max-width: 640px) {
    
    .section-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .img-section {
        width: 250px;
    }
    
    .img-features {
        width: 250px;
    }
    
    .img-new {
        width: 250px;
    }

}

@media (max-width: 768px) {
    .main {
        overflow: hidden;
    }
    
    .header-menu {
        display: none;
    }
    
    .menu-icon {
        display: block;
        align-items: center;
        justify-content: center;
    }
    
    .icon-menu {
        display: block;
        color: rgba(255, 255, 255, 0.25);
        width: 30px;
        height: auto;
    }
    
    /**/
    
    .section {
        display: block;
        padding-block: 23%;
        padding-top: 8%;
    }
    
    .section-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .section-principal {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .section-principal br {
        display: none;
    }
    
    .section-title {
        font-size: 2.5em;
    }
    
    .section-description {
        font-size: 0.8em;
    }
    
    .patrocinios {
        justify-content: center;
    }
    
    .outros-patrocinios {
        justify-content: center;
    }
    
    .section-image {
        padding-top: 50px;
    }
    
    .img-section {
        width: 350px;
    }
    
    /*         */
    
    .wrapper {
        text-align: center;
        font-size: 0.8em;
        padding-top: 0;
        padding-block: 20%;
    }
    
    .wrapper-description {
        font-size: 0.7em;
    }
    
    .wrapper-infos {
        display: flex;
        gap: 2.2rem;
    }
    
    .infos {
        display: block;
    }
    
    /*         */
    
    .features {
        align-items: center;
        text-align: center;
        display: block;
        padding-top: 0;
        padding-block: 20%;
    }
    
    .features-image {
        padding-right: 0;
    }
    
    .img-features {
        width: 350px;
    }
    
    .features-principal {
        padding-top: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .features-title br {
        display: inline-block;
    }
    
    /*          */
    
    .new {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
        padding-block: 20%;
    }
    
    .new-principal {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .new-plataformas {
        align-items: center;
        justify-content: center;
    }
    
    .new-image {
        padding-top: 25px;
    }
    
    .img-new {
        width: 350px;
    }
}